In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dingle,PH,2022-08-03 23:11:17,10.9995,122.6711,78.08,90,100,1.99
1,1,Cherskiy,RU,2022-08-03 23:11:17,68.7500,161.3000,50.45,71,100,8.52
2,2,Arraial Do Cabo,BR,2022-08-03 23:00:53,-22.9661,-42.0278,69.80,73,0,7.25
3,3,Ushuaia,AR,2022-08-03 23:00:29,-54.8000,-68.3000,37.18,97,100,5.01
4,4,Mar Del Plata,AR,2022-08-03 23:01:51,-38.0023,-57.5575,50.88,86,39,4.00

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Dingle,PH,2022-08-03 23:11:17,10.9995,122.6711,78.08,90,100,1.99
8,8,Albany,US,2022-08-03 22:56:56,42.6001,-73.9662,87.64,48,4,3.18
10,10,Sabang,ID,2022-08-03 23:11:20,5.8933,95.3214,81.70,68,100,16.69
11,11,Georgetown,MY,2022-08-03 22:58:28,5.4112,100.3354,79.90,92,20,2.30
17,17,Bonthe,SL,2022-08-03 23:11:21,7.5264,-12.5050,75.83,88,98,7.65
20,20,Phan Thiet,VN,2022-08-03 23:11:23,10.9333,108.1000,77.65,87,100,4.65
27,27,Jamestown,US,2022-08-03 23:01:59,42.0970,-79.2353,87.03,43,0,11.50
34,34,Vaini,TO,2022-08-03 23:01:29,-21.2000,-175.2000,75.45,80,22,17.00
36,36,Bulungu,CD,2022-08-03 23:11:28,-4.5500,18.6000,75.83,58,11,0.89
40,40,Cayenne,GF,2022-08-03 23:11:29,4.9333,-52.3333,82.09,1,0,3.44

In [17]:
preferred_cities_df.count()

City_ID       197
City          197
Country       197
Date          197
Lat           197
Lng           197
Max Temp      197
Humidity      197
Cloudiness    197
Wind Speed    197
dtype: int64

In [18]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
0       Dingle      PH     78.08  10.9995  122.6711
8       Albany      US     87.64  42.6001  -73.9662
10      Sabang      ID     81.70   5.8933   95.3214
11  Georgetown      MY     79.90   5.4112  100.3354
17      Bonthe      SL     75.83   7.5264  -12.5050
20  Phan Thiet      VN     77.65  10.9333  108.1000
27   Jamestown      US     87.03  42.0970  -79.2353
34       Vaini      TO     75.45 -21.2000 -175.2000
36     Bulungu      CD     75.83  -4.5500   18.6000
40     Cayenne      GF     82.09   4.9333  -52.3333

In [19]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Dingle,PH,78.08,10.9995,122.6711,SEGAYA PROPERTY
8,Albany,US,87.64,42.6001,-73.9662,
10,Sabang,ID,81.70,5.8933,95.3214,Hotel Citra
11,Georgetown,MY,79.90,5.4112,100.3354,Cititel Penang
17,Bonthe,SL,75.83,7.5264,-12.5050,Bonthe Holiday Village
20,Phan Thiet,VN,77.65,10.9333,108.1000,Hotel Saigon-PT
27,Jamestown,US,87.03,42.0970,-79.2353,Hampton Inn & Suites Jamestown
34,Vaini,TO,75.45,-21.2000,-175.2000,Keleti Beach Resort
36,Bulungu,CD,75.83,-4.5500,18.6000,Maison MC Michel
40,Cayenne,GF,82.09,4.9333,-52.3333,Hôtel Le Dronmi

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))